doctype html
html
    head
        title Cargar Médico
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/css/headerAdmin.css")
        link(rel="stylesheet", href="/css/styleGeneral1.css")
        link(rel="stylesheet", href="/css/adminCargarProfesional.css")
        link(rel="stylesheet", href="/css/adminCreateProfesional.css")
        link(rel="stylesheet" href="/css/adminCreateSuccess.css")
        link(rel="stylesheet" href="/css/footerNuevo.css")
    body
        include ../includes/headerAdmin
        main(class="mainAdminCreateSuccess")
            section(class="successContainer")
                h1(class="successMessage") #{message}
                a(href="/admin" class="button") Volver al inicio
        include ../includes/footer
        script(src="/js/logout.js")