doctype html
html
    head
        title Cargar Médico
        link(rel="stylesheet", href="/css/adminCargarProfesional.css")
    body
        header
            a(href="http://localhost:3000/admin/home", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
            nav 
                ul(class="ulHeader")
                    li: a(href="/admin/home") Inicio
                    li: a(href="/admin/cargarProfesional") Médicos
                    li: a(href="/admin/registerSecretaria") Registrar secretaria
                    li: a(href="/admin/cargarAgenda") Agendas
                    li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
        main 
            p Buscar la ID o Matrícula en este 
                a(href="http://localhost:3000/admin/readProfesional", rel="noopener noreferrer", class="aLink") link
            h1 Activar / Inactivar un Médico
            form(action="/admin/cambiarEstado" method="POST")
                input(type="text" name="id" placeholder="ID del médico" required)
                button(type="submit") Cambiar de estado
        footer(class="footer")
            section(class="sectionFooter")
                ul Nuestros GitHub
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
                img(src="/img/agenda.png", alt="" class="logoFooter")
                ul Nuestros LinkedIn
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel 
        script(src="/js/logout.js")