doctype html
html
    head
        title Cargar Médico
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/css/headerAdmin.css")
        link(rel="stylesheet", href="/css/adminRegisterSecretaria.css")
        link(rel="stylesheet" href="/css/alerta.css")
        link(rel="stylesheet" href="/css/footerNuevo.css")
    body
        include ../includes/headerAdmin
        if msg == 'ok'
            div.alert.alert-success
                span.icon ✓
                |  Datos editados exitosamente

        if msg == 'error'
            div.alert.alert-error
                span.icon ⚠
                |  Hubo un error al editar tus datos
        main(class="mainRegistro")
            section(class="sectionRegistro")
                article(class="articleRegistro")
                    form(action="/auth/registerSecretaria", method="POST" class="formRegistro")
                        span(class="spanRegistro") REGISTRAR SECRETARIA
                        fieldset(class="emailRegistro")
                            label(class="lbEmailRegistro" for="registerEmail") Correo electrónico:
                            input(class="inputEmailRegistro" type="email" id="registerEmail" name="email" required placeholder="Correo electrónico")
                        fieldset(class="pwRegistro")
                            label(class="lbPwRegistro" for="registerPassword") Contraseña:
                            input(class="inputPwRegistro" type="password" id="registerPassword" name="password" required placeholder="Contraseña" minlength="8")
                        fieldset(class="pwRegistro")
                            label(class="lbPwRegistro" for="registerConfirmPassword") Confirmar contraseña:
                            input(class="inputPwRegistro" type="password" id="registerConfirmPassword" name="confirm_password" required placeholder="Confirmar contraseña" minlength="8")
                        fieldset(class="emailRegistro")
                            label(class="lbEmailRegistro" for="sucursal_id") Sucursal:
                            select(class="inputEmailRegistro" name="sucursal_id" id="sucursal_id" required)
                                option(value="" disabled selected) Selecciona una sucursal
                                each sucursal in sucursales
                                    option(value=sucursal.id)= sucursal.nombre
                        button(class="botonRegistro" type="submit") Registrar secretaria
        include ../includes/footer
        script(src="/js/logout.js")
        script(src="/js/alerta.js")