doctype html
html
    head
        title Cargar Médico
        link(rel="stylesheet", href="/css/headerAdmin.css")
        link(rel="stylesheet", href="/css/styleGeneral1.css")
        link(rel="stylesheet", href="/css/adminCargarProfesional.css")
        link(rel="stylesheet", href="/css/adminCreateProfesional.css")
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet" href="/css/footer.css")
    body
        include ../includes/headerAdmin
        section.seccionSecre
            h1 ¡Secretaria creada con éxito!
            article.articuloRegistro
                form.formRegistro(action="/auth/registerSecretaria", method="POST")
                    span.spanRegistro REGISTRAR SECRETARIA
                    fieldset.emailRegistro
                        label.lbEmailRegistro(for="registerEmail") Correo electrónico:
                        input.inputEmailRegistro(type="email", id="registerEmail", name="email", required, placeholder="Correo electrónico")
                    fieldset.pwRegistro
                        label.lbPwRegistro(for="registerPassword") Contraseña:
                        input.inputPwRegistro(type="password", id="registerPassword", name="password", required, placeholder="Contraseña")
                    button.botonRegistro(type="submit") Registrar secretaria
        include ../includes/footer
        script(src="/js/logout.js")