doctype html
html
    head
        title Cargar Médico
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/css/headerAdmin.css")
        link(rel="stylesheet", href="/css/styleGeneral1.css")
        link(rel="stylesheet", href="/css/footerNuevo.css")
    body
        include ../includes/headerAdmin
        main(class="mainAdminCargarAgenda") 
            h1(class="h1AdminCargarAgenda") Cargar Agenda
        include ../includes/footer
        script(src="/js/logout.js")