doctype html
html
    head
        title Lista de Médicos
        link(rel="stylesheet" href="/css/adminCargarProfesional.css")
    body
        header
            a(href="/admin/home" rel="noopener noreferrer"): img(src="/img/agenda.png" alt="" class="logoHeader")
            nav 
                ul(class="ulHeader")
                    li: a(href="/admin/home") Inicio
                    li: a(href="/admin/cargarProfesional") Médicos
                    li: a(href="/admin/registerSecretaria") Registrar secretaria
                    li: a(href="/admin/cargarAgenda") Agendas
                    li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
        main 
            h1 Listado de Profesionales
            form(action="/profesional/listar" method="get")
                label(for="especialidad") Filtrar por Especialidad:
                select(name="especialidad")
                    option(value="") Todas
                    option(value="Cardiologia" selected=(especialidad === 'Cardiologia')) Cardiología
                    option(value="Pediatria" selected=(especialidad === 'Pediatria')) Pediatría
                    option(value="Kinesiologia" selected=(especialidad === 'Kinesiologia')) Kinesiología
                    option(value="Psicologia" selected=(especialidad === 'Psicologia')) Psicología
                    option(value="Odontologia" selected=(especialidad === 'Odontologia')) Odontología
                button(type="submit") Filtrar

            if profesionales && profesionales.length
                table
                    thead
                        tr
                            th Nombre Completo
                            th Especialidad
                            th Matrícula
                            th Estado
                    tbody
                        each profesional in profesionales
                            tr
                                td= profesional.nombre_completo
                                td= profesional.especialidad
                                td= profesional.matricula
                                td= profesional.estado === "1" ? 'Activo' : 'Inactivo'
            else
                p No se encontraron profesionales para la especialidad seleccionada.
        footer(class="footer")
            section(class="sectionFooter")
                ul Nuestros GitHub
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
                img(src="/img/agenda.png" alt="" class="logoFooter")
                ul Nuestros LinkedIn
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel 
        script(src="/js/logout.js")
        script(src="/js/profesionales.js")
