doctype html
html
    head
        title Agenda de Consultorios
        link(rel="stylesheet", href="/css/styleGeneral1.css")
        link(rel="stylesheet", href="/css/footer.css")
    body
        include includes/headerAdmin
        main 
            h1 Administrador 
        include includes/footer
        script(src="/js/logout.js")