doctype html
html
    head
        title Cargar Médico
        link(rel="stylesheet", href="/css/adminCargarProfesional.css")
    body
        header
            a(href="https://agendadeconsultorios-vho3.onrender.com/admin/home", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
            nav 
                ul(class="ulHeader")
                    li: a(href="/admin/home") Inicio
                    li: a(href="/admin/cargarProfesional") Médicos
                    li: a(href="/admin/registerSecretaria") Registrar secretaria
                    li: a(href="/admin/cargarAgenda") Agendas
                    li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
        main 
            h1 Cargar Médicos
            section(class="sectionCrud")
                article(class="articleCrud") 
                    a(href="https://agendadeconsultorios-vho3.onrender.com/admin/createProfesional", rel="noopener noreferrer"): img(src="/img/create.png", alt="logoCreate" class="logoCreate")
                    span Cargar un médico
                article(class="articleCrud") 
                    a(href="https://agendadeconsultorios-vho3.onrender.com/admin/readProfesional", rel="noopener noreferrer"): img(src="/img/read.png", alt="logoRead" class="logoRead")
                    span Lista de médicos
                article(class="articleCrud") 
                    a(href="https://agendadeconsultorios-vho3.onrender.com/admin/updateProfesional", rel="noopener noreferrer"): img(src="/img/update.png", alt="logoUpdate" class="logoUpdate")
                    span Editar datos de un médico
                article(class="articleCrud")
                    a(href="https://agendadeconsultorios-vho3.onrender.com/admin/deleteProfesional", rel="noopener noreferrer"): img(src="/img/inactivar.png", alt="logoDelete" class="logoDelete")
                    span Activar / Inactivar un médico
        footer(class="footer")
            section(class="sectionFooter")
                ul Nuestros GitHub
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
                img(src="/img/agenda.png", alt="" class="logoFooter")
                ul Nuestros LinkedIn
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel 
        script(src="/js/logout.js")