doctype html
html
    head
        title Actualizar Médico
        link(rel="stylesheet" href="/css/adminCargarProfesional.css")
    body
        header
            a(href="/admin/home" rel="noopener noreferrer"): img(src="/img/agenda.png" alt="" class="logoHeader")
            nav 
                ul(class="ulHeader")
                    li: a(href="/admin/home") Inicio
                    li: a(href="/admin/cargarProfesional") Médicos
                    li: a(href="/admin/registerSecretaria") Registrar secretaria
                    li: a(href="/admin/cargarAgenda") Agendas
                    li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
        main
            h1 ¡¡¡Se actualizo el nombre correctamente!!!
            p Buscar la ID en este 
                a(href="http://localhost:3000/admin/readProfesional", rel="noopener noreferrer", class="aLink") link
            h2 Actualizar especialidad de un médico
            form(action="/admin/actualizarEspecialidad" method="POST")
                input(type="text" name="id" placeholder="id del medico" required)
                input(type="text" name="nueva_especialidad" placeholder="Nueva especialidad" required)
                button(type="submit") Actualizar
            h2 Actualizar matricula de un médico
            form(action="/admin/actualizarMatricula" method="POST")
                input(type="text" name="matricula" placeholder="Matrícula actual" required)
                input(type="text" name="nueva_matricula" placeholder="Nueva matrícula" required)
                button(type="submit") Actualizar
            h2 Actualizar nombre completo de un médico
            form(action="/admin/actualizarNombreCompleto" method="POST")
                input(type="text" name="profesional_id" placeholder="id del medico" required)
                input(type="text" name="nuevo_nombre_completo" placeholder="Nueva nombre completo" required)
                button(type="submit") Actualizar
        footer(class="footer")
            section(class="sectionFooter")
                ul Nuestros GitHub
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
                img(src="/img/agenda.png" alt="" class="logoFooter")
                ul Nuestros LinkedIn
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel
        script(src="/js/logout.js")
        script(src="/js/profesionales.js")