doctype html
html
    head
        title Cargar Médico
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/css/headerAdmin.css")
        link(rel="stylesheet" href="/css/adminCreateProfesional.css")
        link(rel="stylesheet" href="/css/alerta.css")
        link(rel="stylesheet" href="/css/footerNuevo.css")
    body
        include ../includes/headerAdmin
        if msg == 'ok'
            div.alert.alert-success
                span.icon ✓
                |  Datos editados exitosamente

        if msg == 'error'
            div.alert.alert-error
                span.icon ⚠
                |  Hubo un error al editar tus datos
        main(class="mainAdminCreateProfesional")
            form(action="/profesional/crear", method="POST" class="formCreate")
                span(class="spanCreate") Cargar un médico
                p(class="infoCreate") Si el médico ya existe, se le agregará la especialidad seleccionada sin importar los demás datos.
                fieldset(class="dni") 
                    label(for="dni" class="lbDNI") DNI: 
                    input(type="text", id="dni", name="dni", required, placeholder="DNI" class="inputDNI")
                fieldset(class="nombre") 
                    label(for="nombre" class="lbNombre") Nombre: 
                    input(type="text", id="nombre", name="nombre", required, placeholder="Nombre" class="inputNombre")
                fieldset(class="apellido") 
                    label(for="apellido" class="lbApellido") Apellido: 
                    input(type="text", id="apellido", name="apellido", required, placeholder="Apellido" class="inputApellido")
                fieldset(class="fecha_nacimiento") 
                    label(for="fecha_nacimiento" class="lbFechaNacimiento") Fecha de Nacimiento: 
                    input(type="date", id="fecha_nacimiento", name="fecha_nacimiento", required class="inputFechaNacimiento")
                fieldset(class="telefono") 
                    label(for="telefono" class="lbTelefono") Teléfono: 
                    input(type="text", id="telefono", name="telefono", required, placeholder="Teléfono" class="inputTelefono")
                fieldset(class="email") 
                    label(for="email" class="lbEmail") Email: 
                    input(type="email", id="email", name="email", required, placeholder="Email" class="inputEmail")
                fieldset(class="domicilio_personal") 
                    label(for="domicilio_personal" class="lbDomicilioPersonal") Domicilio Personal: 
                    input(type="text", id="domicilio_personal", name="domicilio_personal", required, placeholder="Domicilio Personal" class="inputDomicilioPersonal")
                fieldset(class="matricula")
                    label(for="matricula" class="lbMatricula") Matricula: 
                    input(type="text", id="matricula", name="matricula", required, placeholder="Matrícula" class="inputMatricula")
                fieldset(class="especialidad")
                    label(for="especialidad" class="lbEspecialidad") Especialidad: 
                    select(name="especialidad" class="selectEspecialidad")
                        option(value="cardiologia") Cardiología
                        option(value="pediatria") Pediatria
                        option(value="kinesiologia") Kinesiología
                        option(value="psicologia") Psicología
                        option(value="odontologia") Odontología
                button(type="submit" class="botonCreate") Cargar médico
        include ../includes/footer
        script(src="/js/logout.js")
        script(src="/js/alerta.js")