doctype html
html
    head
        title Cargar Medico
        link(rel="stylesheet", href="/css/adminCargarProfesional.css")
        link(rel="stylesheet", href="/css/adminCreateProfesional.css")
    body
        header
            a(href="http://localhost:3000/admin/home", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
            nav 
                ul(class="ulHeader")
                    li: a(href="/admin/home") Inicio
                    li: a(href="/admin/cargarProfesional") Medicos
                    li: a(href="/admin/cargarAgenda") Agendas
                    li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
        main
            
            form.formCreate(action="/profesional/crear", method="POST")
                span.spanCreate Cargar un medico
                fieldset.nombreCompleto 
                    label.lbNombreCompleto(for="nombre_completo") Nombre completo: 
                    input.inputNombreCompleto(type="text", id="nombre_completo", name="nombre_completo", required, placeholder="Nombre completo")
                fieldset.matricula
                    label.lbMatricula(for="matricula") Matricula: 
                    input.inputMatricula(type="text", id="matricula", name="matricula", required, placeholder="Matricula")
                fieldset.especialidad 
                    label.lbEspecialidad(for="especialidad") Especialidad: 
                    select.selectEspecialidad(name="especialidad")
                        option(value="cardiologia") Cardiologia
                        option(value="pediatria") Pediatria
                        option(value="kinesiologia") Kinesiologia
                        option(value="psicologia") Psicologia
                        option(value="odontologia") Odontologia
                button.botonCreate(type="submit") Cargar medico
        footer(class="footer")
            section(class="sectionFooter")
                ul Nuestros GitHub
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
                img(src="/img/agenda.png", alt="" class="logoFooter")
                ul Nuestros LinkedIn
                    li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
                    li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel 
        script(src="/js/logout.js")