doctype html
html
    head
        title Cargar Médico
        link(rel="stylesheet", href="/css/headerAdmin.css")
        link(rel="stylesheet", href="/css/styleGeneral1.css")
        link(rel="stylesheet", href="/css/adminCargarProfesional.css")
        link(rel="stylesheet", href="/css/adminCreateProfesional.css")
        link(rel="stylesheet", href="/css/adminRegisterSecretaria.css")
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet" href="/css/footer.css")
    body
        include ../includes/headerAdmin
        main(class="mainRegistro")
            section(class="sectionRegistro")
                article(class="articleRegistro")
                    form(action="/auth/registerSecretaria", method="POST" class="formRegistro")
                        span(class="spanRegistro") REGISTRAR SECRETARIA
                        fieldset(class="emailRegistro")
                            label(class="lbEmailRegistro" for="registerEmail") Correo electrónico:
                            input(class="inputEmailRegistro" type="email" id="registerEmail" name="email" required placeholder="Correo electrónico")
                        fieldset(class="pwRegistro")
                            label(class="lbPwRegistro" for="registerPassword") Contraseña:
                            input(class="inputPwRegistro" type="password" id="registerPassword" name="password" required placeholder="Contraseña")
                        button(class="botonRegistro" type="submit") Registrar secretaria
        include ../includes/footer
        script(src="/js/logout.js")