footer(class="footer")
            section(class="sectionFooter")
                article(class="articleFooter") 
                    span(class="spanFooter") Nuestros GitHub
                    ul(class="ulFooter")
                        li(class="liFooter"): a(href="https://github.com/JuanCarrillo2435" class="aLiFooter") Carrillo Juan
                        li(class="liFooter"): a(href="https://github.com/MiguelLuceroSL" class="aLiFooter") Lucero Miguel
                img(src="/img/agenda.png", alt="" class="logoFooter")
                article(class="articleFooter") 
                    span(class="spanFooter") Nuestros LinkedIn
                    ul(class="ulFooter")
                        li(class="liFooter"): a(href="https://github.com/JuanCarrillo2435" class="aLiFooter") Carrillo Juan
                        li(class="liFooter"): a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/" class="aLiFooter") Lucero Miguel