header
      a(href="http://localhost:3000/", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
      nav
          ul
              li: a(href="/auth/login") Iniciar Sesión