header
      a(href="http://localhost:3000/pacientes/paciente", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
      nav 
        ul(class="ulHeader")
          li: a(href="/pacientes/paciente") Inicio
          li: a(href="/pacientes/turno") Sacar Turnos
          li: a(href="/pacientes/perfil") Datos Personales
          li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión