header
      a(href="http://localhost:3000/secretaria/home" rel="noopener noreferrer"): img(src="/img/agenda.png" alt="" class="logoHeader")
      nav 
        ul(class="ulHeader")
          li: a(href="/turnos/listarTurnos") Ver Turnos
          li: a(href="/secretaria/gestionTurno") Gestionar Turnos
          li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión