header(class="headerSecre")
      a(href="http://localhost:3000/secretaria/home" rel="noopener noreferrer" class="aHeaderSecre"): img(src="/img/agenda.png" alt="" class="logoHeaderSecre")
      nav(class="navHeaderSecre") 
        ul(class="ulHeaderSecre")
          li(class="liHeaderSecre"): a(href="/turnos/listarTurnos" class="aLiHeaderSecre") Ver Turnos
          li(class="liHeaderSecre"): a(href="/secretaria/crearListaEspera" class="aLiHeaderSecre") Crear espera
          li(class="liHeaderSecre"): a(href="/secretaria/listarEspera" class="aLiHeaderSecre") Lista de espera
          li(class="liHeaderSecre"): a(href="/secretaria/gestionTurno" class="aLiHeaderSecre") Crear Turno
          li(class="liHeaderSecre"): a(href="/agendas/crear" class="aLiHeaderSecre") Crear Agenda
          li(class="liHeaderSecre"): a(href="/agendas/ausencias/form" class="aLiHeaderSecre") Cargar/Borrar Ausencia
          li(class="liHeaderSecre"): a(href="javascript:void(0);" id="logoutButton" class="aLiHeaderSecre") Cerrar Sesión