header
      link(rel="stylesheet" href="/css/headerSecretaria.css")
      a(href="http://localhost:3000/secretaria/home" rel="noopener noreferrer"): img(src="/img/agenda.png" alt="" class="logoHeader")
      nav 
        ul(class="ulHeader")
          li: a(href="/turnos/listarTurnos") Ver Turnos
          li: a(href="/secretaria/crearListaEspera") Crear espera
          li: a(href="/secretaria/listarEspera") Lista de espera
          li: a(href="/secretaria/gestionTurno") Gestionar Turnos
          li: a(href="/agendas/crear") Crear Agenda
          li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión