doctype html
html
  head
    title Página Pug
  body
    header
        h1 ¡Hola, Mundo!
    nav
        ul
            li a(href="/medicos") Medicos
            li a(href="/medicos") Sacar Turnos
            li a(href="/medicos") Registrate

        
    