doctype html
html
    head
        h4 Agencia de Consultorios
        nav 
            ul
                li: a(href="/") Inicio
                li: a(href="/profesional/crear") Medicos
                li: a(href="/profesional/agendas") Agendas
                li: button(onclick="logout()") Cerrar sesión