doctype html
html
    head 
        title Crear Paciente
    body 
        h1 Crear Paciente
        form(action="/pacientes/crear",method="POST")
            fieldset 
                label(for="nombre_completo") Nombre completo:
                input(type="text", id=nombre_completo,name="nombre_completo", required)
            fieldset
                label(for="dni") DNI:
                input(type="text",id="dni",name="dni",required)
            fieldset 
                label(for="obra_social") Obra social: 
                input(type="text", id="obra_social", name="obra_social")
            fieldset 
                label(for="telefono") Telefono:
                input(type="text", id="telefono",name="telefono")
            fieldset 
                label(for="email") Email:
                input(type="text", id="email",name="email")
            fieldset 
                label(for="direccion") Direccion:
                input(type="text", id="direccion",name="direccion")
            fieldset 
                label(for="fecha_nacimiento") Fecha de Nacimiento :
                input(type="date", id="fecha_nacimiento",name="fecha_nacimiento")
            fieldset 
                label(for="fotocopia_documento") Fotocopia del documento:
                input(type="file", id="fotocopia_documento",name="fotocopia_documento")
            button(type="sumbit") Crear Paciente
