doctype html
html
  head
    title Agenda de Consultorios
    link(rel="stylesheet", href="/css/home.css")
  body
    header
      a(href="https://agendadeconsultorio.onrender.com/", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
      nav
          ul
              li: a(href="/auth/login") Registrate / Iniciar Sesion
    main
        h1 Agenda de Consultorios 
        section(class="sectionCarrousel")
          button(type="button" class="btnIzq" id="btnIzq"): img(src="/img/btn2.png", alt="btn2" class="btn2")
          article(class="carrousel")
            img(src="/img/1.jpg", alt="carrousel1" class="carrouselImg" id="imgCarrousel")
            p(id="pCarrousel") Saca tus turnos médicos de manera fácil y rápida.
          button(type="button" class="btnDer" id="btnDer"): img(src="/img/btn1.png", alt="btn1" class="btn1")
    footer(class="footer")
      section(class="sectionFooter")
        ul Nuestros GitHub
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://github.com/JuanCarrillo2435") Lucero Miguel
        img(src="/img/agenda.png", alt="" class="logoFooter")
        ul Nuestros LinkedIn
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel
    script(type="module" src="/js/home.js")