doctype html
html
  head
    title Agenda de Consultorios
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/home.css")
    
  body
    include includes/headerHome
    main
        section.hero
          h1 Agenda de Consultorios
          p.subtitle Gestioná tus turnos médicos fácil, rápido y sin llamadas.
          div.heroButtons
            a.btnPrimary(href="/auth/register") Registrarse
        section(class="sectionCarrousel")
          article(class="carrousel")
            img(src="/img/1.jpg", alt="carrousel1" class="carrouselImg" id="imgCarrousel")
            p(id="pCarrousel") Saca tus turnos médicos de manera fácil y rápida.
    include includes/footer
    script(type="module" src="/js/home.js")