doctype html
html(lang="es")
  head
    title Iniciar Sesión
    link(rel="stylesheet", href="/css/login.css")
    link(rel="stylesheet", href="/css/footer.css")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap", rel="stylesheet")

  body

    main.mainLogin
      .login-container
        .left-side
          img.imgLogin(src="/img/login.jpg", alt="")
          .img-text
            h2 “Simplemente todas las herramientas que mi equipo y yo necesitamos.”
        .right-side
          a(href="http://localhost:3000/", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
          .form-box
            h1 Bienvenido
            p.subtitle Iniciá sesión para continuar
            form.formLogin(id="loginForm")
              label(for="loginEmail") Email
              input(type="email", id="loginEmail", name="email", required placeholder="Correo electrónico")
              label(for="loginPassword") Contraseña
              input(type="password", id="loginPassword", name="password", required placeholder="Contraseña")
              a.forgot(href="/pwOlvidada") ¿Olvidaste tu contraseña?
              button.btnLogin(type="submit") Iniciar Sesión
              p#error-message.pError
    script(type="module" src="/js/login.js")