doctype html
html
  head
    title Registro Login
    link(rel="stylesheet", href="/login.css")
  body
    section.seccion
      article.articuloLogin
        form.formLogin(action="/auth/login", method="POST")
          h2.h2Login INICIAR SESIÓN
          fieldset.emailLogin
            label.lbEmailLogin(for="email") Email:
            input.inputEmailLogin(type="email", id="email", name="email", required)
          fieldset.pwLogin
            label.lbPwLogin(for="password") Contraseña:
            input.inputPwLogin(type="password", id="password", name="password", required)
          button.botonLogin(type="submit") Iniciar Sesión
      article.articuloRegistro
        form.formRegistro(action="/auth/register", method="POST")
          h2.h2Registro REGISTRARSE
          fieldset.emailRegistro
            label.lbEmailRegistro(for="email") Correo electrónico:
            input.inputEmailRegistro(type="email", id="email", name="email", required)
          fieldset.pwRegistro
            label.lbPwRegistro(for="password") Contraseña:
            input.inputPwRegistro(type="password", id="password", name="password", required)
          fieldset.rolRegistro
            label.lbRolRegistro(for="rol") Rol:
            select.selectRol(name="rol")
              option(value="paciente") Paciente
              option(value="secretaria") Secretaria
              option(value="administrador") Administrador
          button.botonRegistro(type="submit") Registrarse