doctype html
html
  head
    title Registro Login
    link(rel="stylesheet", href="/css/login.css")
  body
    header 
      a(href="http://localhost:3000/", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
    section.seccion
      article.articuloLogin
        form.formLogin(id="loginForm")
          span.spanLogin INICIAR SESIÓN
          fieldset.emailLogin
            label.lbEmailLogin(for="loginEmail") Correo electrónico:
            input.inputEmailLogin(type="email", id="loginEmail", name="email", required, placeholder="Correo electrónico")
          fieldset.pwLogin
            label.lbPwLogin(for="loginPassword") Contraseña:
            input.inputPwLogin(type="password", id="loginPassword", name="password", required, placeholder="Contraseña")
          a(href="/pwOlvidada" class="pwOlvidada") ¿Olvidaste tu contraseña? 
          button.botonLogin(type="submit") Iniciar Sesión
      article.articuloRegistro
        form.formRegistro(action="/auth/register", method="POST")
          span.spanRegistro REGISTRARSE
          fieldset.emailRegistro
            label.lbEmailRegistro(for="registerEmail") Correo electrónico:
            input.inputEmailRegistro(type="email", id="registerEmail", name="email", required, placeholder="Correo electrónico")
          fieldset.pwRegistro
            label.lbPwRegistro(for="registerPassword") Contraseña:
            input.inputPwRegistro(type="password", id="registerPassword", name="password", required, placeholder="Contraseña")
          fieldset.rolRegistro
            label.lbRolRegistro(for="rol") Rol:
            select.selectRol(name="rol")
              option(value="paciente") Paciente
              option(value="secretaria") Secretaria
              option(value="administrador") Administrador
          button.botonRegistro(type="submit") Registrarse
    footer(class="footer")
      section(class="sectionFooter")
        ul Nuestros GitHub
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://github.com/JuanCarrillo2435") Lucero Miguel
        img(src="/img/agenda.png", alt="" class="logoFooter")
        ul Nuestros LinkedIn
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel 
    script(type="module" src="/js/login.js")