doctype html
html
  head
    title Sobre Nosotros
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/home.css")
    
  body
    include includes/headerHome
    .containerNosotros
        h1.h1Nosotros Preguntas Frecuentes

        .faq
            h3 ¿Cómo reservo un turno?
            p Desde el menú principal podés iniciar sesión y seleccionar un consultorio disponible.

            h3 ¿Necesito crear una cuenta?
            p Sí, para poder reservar turnos es necesario registrarte.

            h3 ¿Puedo cancelar un turno?
            p Depende de las políticas del consultorio. En general, se puede cancelar con 24 horas de anticipación.
        
        p.h1Nosotros Dejanos tus dudas contactandonos a través de nuestro LinkedIn.
    include includes/footer