doctype html
html
  head
    title Agenda de Consultorios
    link(rel="stylesheet", href="/css/home.css")
  body
    header
      a(href="http://localhost:3000/", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
      nav
          ul
              li: a(href="/auth/login") Iniciar Sesión
              li: a(href="/auth/register") Registrarse
    main
        h1 ¡Usuario registrado exitosamente!
        section(class="sectionCarrousel")
          button(type="button" class="btnIzq" id="btnIzq"): img(src="/img/btn2.png", alt="btn2" class="btn2")
          article(class="carrousel")
            img(src="/img/1.jpg", alt="carrousel1" class="carrouselImg" id="imgCarrousel")
            p(id="pCarrousel") Saca tus turnos médicos de manera fácil y rápida.
          button(type="button" class="btnDer" id="btnDer"): img(src="/img/btn1.png", alt="btn1" class="btn1")
    include includes/footer
    script(type="module" src="/js/home.js")