doctype html
html
  head
    title Sobre Nosotros
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/home.css")
    
  body
    include includes/headerHome
    .containerNosotros
        h1.h1Nosotros Sobre Nosotros
        p Agenda de Consultorios es un proyecto académico desarrollado para facilitar la gestión de turnos médicos de manera rápida y eficiente.
        p Nuestro objetivo es ofrecer una herramienta clara, simple y funcional para mejorar la experiencia de pacientes y profesionales.
        p El sistema permite:
        ul.ulNosotros
            li - Gestión centralizada de turnos
            li - Visualización de médicos disponibles
            li - Administración de médicos, pacientes y horarios
            li - Reducción de errores y tiempos de espera
    include includes/footer