.sectionCrud{
    display: flex;
    flex-direction: row;
}

.logoDelete{
    width: 225px;
    height: 225px;
}

.articleCrud{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aLink{
    font-weight: bold;
}