header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 1000;
}


.logoHeader {
  width: 100px;
  height: 100px;
}


.ulHeader {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ulHeader li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s;
}

.ulHeader li a:hover {
  color: #3498db;
}