/*fuente*/
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background: #f8f9fb;
}

/*contenedor principal*/
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/*lado izquierdo, imagen*/

.left-side {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.imgLogin {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.img-text {
    position: absolute;
    color: white;
    padding: 30px;
    max-width: 450px;
}

.img-text h2 {
    font-size: 24px;
    font-weight: 600;
}

.img-text p {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.9;
}

/*lado derecho*/

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form-box {
    background: white;
    padding: 40px 50px;
    border-radius: 12px;
    width: 380px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

h1 {
    margin: 0 0 10px 0;
    font-size: 28px;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

label {
    font-size: 14px;
    margin-top: 15px;
    font-weight: 500;
    color: #333;
}

input {
    margin: 8px 0 10px 0;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #dadada;
    font-size: 15px;
}

input:focus {
    border-color: #4EA1D3;
    outline: none;
    box-shadow: 0 0 4px rgba(106, 90, 205, 0.3);
}

.forgot {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    font-size: 14px;
    color: #4EA1D3;
}

.btnLogin {
    width: 100%;
    padding: 12px;
    background-color: #4EA1D3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

.btnLogin:hover {
    background-color: #388bbd;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
}

.btnGoogle {
    width: 100%;
    padding: 12px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.btnGoogle:hover {
    background: #e7e7e7;
}

.googleIcon {
    width: 20px;
}

.pError {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/*responsive*/

@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
        padding: 0;
    }

    .left-side {
        height: 260px;
        margin: 0;
        border-radius: 0;
    }

    .imgLogin {
        border-radius: 0;
    }

    .form-box {
        margin: 20px auto;
    }
}