html{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

header{
    position: absolute;
    top: 0;
}

.seccion{
    width: 60vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.seccionSecre{
    width: 60vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.articuloLogin, .articuloRegistro{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 20px;
}

.articuloLogin{
    background-color: #D4F6FF;
}

.articuloRegistro{
    background-color: #C6E7FF;
}

.formLogin, .formRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.formRegistro{
    gap: 5px;
}

.articuloLogin, .articuloRegistro{
    border: 1px solid rgb(65, 65, 65);
}

.spanLogin, .spanRegistro{
    font-size: 30px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.emailLogin, .pwLogin, .emailRegistro, .pwRegistro, .rolRegistro{
    width: 20px;
    border: none;
}

.lbEmailLogin, .lbPwLogin, .lbEmailRegistro, .lbPwRegistro, .lbRolRegistro{
    font-size: 18px;
}

.inputEmailLogin, .inputPwLogin, .inputEmailRegistro, .inputPwRegistro, .inputRolRegistro{
    border: 1px solid black;
    margin-top: 10px;
    height: 35px;
    width: 250px;
    font-size: 14px;
}

.pwOlvidada{
    color: black;
}

.botonLogin, .botonRegistro{
    background-color: #FFDDAE;
    border: none;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #1b1a1a;
    -moz-box-shadow: 0 10px 6px -6px #242222;
    box-shadow: 0 10px 6px -6px #2b2a2a;
}

.botonLogin:hover, .botonRegistro:hover{
    background-color: #f3c88d;
}


.selectRol{
    width: 170px;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.selectRol:hover{
    cursor: pointer;
}