doctype html
html
  head
    title Secretaria Panel
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet" href="/css/secretariaGestionTurno.css")
    link(rel="stylesheet" href="/css/secretariaTurnoSuccess.css")
    link(rel="stylesheet" href="/css/footerNuevo.css")
    link(rel="stylesheet" href="/css/headerSecretaria.css")
  body(class="secretariaTurnoSuccess")
    include ../includes/headerSecretaria
    main(class="mainContent")
      h1(class="titulo") ¡Turno creado exitosamente!
      a(href="http://localhost:3000/secretaria/home" rel="noopener noreferrer" class="volver") Volver al inicio

    include ../includes/footer

    script(src="/js/logout.js")
    script(src="/js/horarios.js")