doctype html
html
  head
    title Secretaria Panel
    link(rel="stylesheet" href="/css/secretariaGestionTurno.css")
  body
    header
      a(href="https://agendadeconsultorio.onrender.com/secretaria/home" rel="noopener noreferrer"): img(src="/img/agenda.png" alt="" class="logoHeader")
      nav 
        ul(class="ulHeader")
          li: a(href="/turnos/listarTurnos") Ver Turnos
          li: a(href="/secretaria/gestionTurno") Gestionar Turnos
          li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
    h1 ¡Turno creado exitosamente!
    a(href="https://agendadeconsultorio.onrender.com/secretaria/home" rel="noopener noreferrer") Volver al inicio
      

    footer(class="footer")
      section(class="sectionFooter")
        ul(class="ulFooter") Nuestros GitHub
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
        img(src="/img/agenda.png" alt="" class="logoFooter")
        ul(class="ulFooter") Nuestros LinkedIn
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel

    script(src="/js/logout.js")
    script(src="/js/horarios.js")