doctype html
html
  head
    title Secretaria Panel
    link(rel="stylesheet" href="/css/secretariaGestionTurno.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    include includes/headerSecretaria
    h1 ¡Turno creado exitosamente!
    a(href="http://localhost:3000/secretaria/home" rel="noopener noreferrer") Volver al inicio
      

    include includes/footer

    script(src="/js/logout.js")
    script(src="/js/horarios.js")