doctype html
html
  head
    title Secretaria Panel
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet" href="/css/secretariaPanel.css")
    link(rel="stylesheet" href="/css/footerNuevo.css")
    link(rel="stylesheet" href="/css/headerSecretaria.css")
  body
    include ../includes/headerSecretaria
    h1 ¡Bienvenida, secretaria!
    h2 Lista de turnos
   
    include ../includes/footer
    script(src="/js/logout.js")