doctype html
html
  head
    title Secretaria Panel
    link(rel="stylesheet" href="/css/secretariaGestionTurno.css")
  body
    header
      a(href="http://localhost:3000/secretaria/home" rel="noopener noreferrer"): img(src="/img/agenda.png" alt="" class="logoHeader")
      nav 
        ul(class="ulHeader")
          li: a(href="/secretaria/home") Inicio
          li: a(href="/secretaria/gestionTurno") Gestionar Turnos
          li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
    h1 Bienvenida, secretaria!
    p Aquí puedes gestionar turnos.
    
    h1 Selecciona un Profesional
    if profesionales && profesionales.length
      form(action="/turno/crear" method="POST") 
        select(name="profesional" required)
          option(value="" selected disabled)
            each profesional in profesionales
              option(value=profesional.id)= profesional.nombre_completo
    else
      p no se encontraron profesionales
          
    footer(class="footer")
      section(class="sectionFooter")
        ul(class="ulFooter") Nuestros GitHub
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
        img(src="/img/agenda.png" alt="" class="logoFooter")
        ul(class="ulFooter") Nuestros LinkedIn
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel

    script(src="/js/logout.js")