doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Secretaria - Trasladar
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        include ../includes/headerSecretaria
        h1 Trasladar Turno
        form(action=`/turnos/trasladar/${turno.id}` method="POST")
            label(for="medico") Seleccione el médico:
            select(name="medico" id="medico" required)
            option(value="" disabled selected) -- Seleccione un médico --
            each medico in medicos
                option(value=medico.id)= medico.nombre
            label(for="horario") Seleccione el horario:
            select(name="horario" id="horario" required)
            option(value="" disabled selected) -- Seleccione un horario --
            //- Los horarios se deben cargar dinámicamente según el médico seleccionado
            button(type="submit") Trasladar Turno
        main
            block content
        a(href="/turnos/listarTurnos") ← Volver a turnos
        include ../includes/footer
        script(src="/js/logout.js")