doctype html
html
  head
    title Vista Paciente
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    header
      a(href="http://localhost:3000/pacientes/paciente", rel="noopener noreferrer"): img(src="/img/agenda.png", alt="" class="logoHeader")
      nav 
        ul(class="ulHeader")
          li: a(href="/pacientes/paciente") Inicio
          li: a(href="/pacientes/turno") Sacar Turnos
          li: a(href="javascript:void(0);" id="logoutButton") Cerrar Sesión
    h1 Bienvenido, paciente!
    p Aquí puedes gestionar tus consultas médicas.
    footer(class="footer")
      section(class="sectionFooter")
        ul(class="ulFooter") Nuestros GitHub
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://github.com/MiguelLuceroSL") Lucero Miguel
        img(src="/img/agenda.png" alt="" class="logoFooter")
        ul(class="ulFooter") Nuestros LinkedIn
          li: a(href="https://github.com/JuanCarrillo2435") Carrillo Juan
          li: a(href="https://www.linkedin.com/in/lucero-roque-roberto-miguel-2122bb251/") Lucero Miguel
    script(src="/js/logout.js")