doctype html
html
  head
    title Vista Paciente
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    include includes/headerPaciente
    h1 Bienvenido, paciente!
    p Aquí puedes gestionar tus consultas médicas.
    include includes/footer
    script(src="/js/logout.js")