doctype html
html
  head
    title Vista Paciente
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet" href="/css/headerPaciente.css")
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/footerNuevo.css")
  body
    include ../includes/headerPaciente
    h1 ¡Turno realizado con éxito!
        
    include ../includes/footer
    script(src="/js/logout.js")