doctype html
html
    head
        title Vista Paciente
        link(rel="stylesheet" href="/css/pacienteTurno.css")
        link(rel="stylesheet" href="/css/footer.css")
    body
        include includes/headerPaciente
        h1 Bienvenido, paciente!
        p Pronto podrás sacar tus propios turnos, por el momento lo hará la secretaria por vos!
        include includes/footer
        script(src="/js/logout.js")