doctype html
html
  head
    title Vista Paciente
    link(rel="stylesheet" href="/css/headerPaciente.css")
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    include ../includes/headerPaciente
    h1 ¡Turno realizado con éxito!
        
    include ../includes/footer
    script(src="/js/logout.js")