doctype html
html
  head
    title Vista Paciente
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    include ../includes/headerPaciente
    h1 Datos Personales
    section
      article
        form.formPerfil(action="/pacientes/editar", method="POST")
          fieldset.campoPerfil
            label.lbPerfil(for="perfilNombre") Nombre completo:
            input.inputPerfil(type="text", id="perfilNombre", name="nombre", required, placeholder=${paciente.nombre_completo})
          fieldset.campoPerfil
            label.lbPerfil(for="perfilEmail") Correo electrónico:
            input.inputPerfil(type="email", id="perfilEmail", name="email", required, placeholder="Correo electrónico")
          fieldset.campoPerfil
            label.lbPerfil(for="perfilDni") DNI:
            input.inputPerfil(type="text", id="perfilDni", name="dni", required, placeholder="DNI")
          fieldset.campoPerfil
            label.lbPerfil(for="perfilMutual") Mutual:
            input.inputPerfil(type="text", id="perfilMutual", name="mutual", required, placeholder="Mutual que posee o ponga Ninguna")
          fieldset.campoPerfil
            label.lbPerfil(for="perfilDireccion") Dirección:
            input.inputPerfil(type="text", id="perfilDireccion", name="direccion", required, placeholder="Dirección")
          fieldset.campoPerfil
            label.lbPerfil(for="perfilTelefono") Teléfono:
            input.inputPerfil(type="text", id="perfilTelefono", name="telefono", required, placeholder="Teléfono")
          fieldset.campoPerfil
            label.lbPerfil(for="perfilFechaNacimiento") Fecha de nacimiento:
            input.inputPerfil(type="date", id="perfilFechaNacimiento", name="fecha_nacimiento", required)
          fieldset.campoPerfil
            label.lbPerfil(for="perfilPassword") Contraseña:
            input.inputPerfil(type="password", id="perfilPassword", name="password", required, placeholder="Contraseña")
          button.botonPerfil(type="submit") Editar
    include ../includes/footer
    script(src="/js/logout.js")